{% extends "base.html" %}


{% block title %}Whatchu' think?{% endblock %}

{% block content %}
    <h1>Hello, World</h1>
    <center><img src = "{{photo}}" alt = "" /></center>
    <br /><br />
    <center>
        <form action = '/report' method = 'post' >
            {# XXX: use url_for #}
            <input
                name = 'legid'
                type = 'hidden'
                value = '{{legislator._id}}' />

            {% for word in words %}
                <button id = "{{word}}" name = "reaction" value = "{{word}}" >{{word}}</button>
            {% endfor %}
            <br />
            <button id = "skip" name = "reaction" value = "skip" >(skip / broken photo)</button>
        </form>
    </center>
{% endblock %}
